<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html">
	<h:form id="idform" rendered="#{manageEmployeBean.renderAddForm}">

		<h:panelGrid columns="2">
			<h:outputLabel value="CIN" />
			<h:inputText value="#{manageEmployeBean.employeToAdd.cin}" />
			<h:outputLabel value="login" />
			<h:inputText value="#{manageEmployeBean.employeToAdd.login}" />
			<h:outputLabel value="pwd" />
			<h:inputText value="#{manageEmployeBean.employeToAdd.password}" />
			<h:outputLabel value="nom" />
			<h:inputText value="#{manageEmployeBean.employeToAdd.nom}" />
			<h:commandButton rendered="#{manageEmployeBean.renderAddBtn}"
				action="#{manageEmployeBean.addEmploye()}" value="Ajouter" />
			<h:commandButton rendered="#{manageEmployeBean.renderUpdateBtn}"
				action="#{manageEmployeBean.update()}" value="Modifier" />
			<h:commandButton rendered="#{manageEmployeBean.renderUpdateBtn}"
				action="#{manageEmployeBean.removeEmploye()}" value="Démissionner" />
		</h:panelGrid>

	</h:form>
</ui:composition>