<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html">
	<h:form>
		<h:panelGrid columns="2">
			<h:outputText value="Bienvenue #{authentificatinBean.employe.nom}" />
			<h:outputLabel value="Veuillez ajouter un laboratoire:" />
			<h:outputLabel value="Nom" />
			<h:inputText value="#{manageLaboBean.labo.nom}" />

			<h:outputLabel value="Présentation" />
			<h:inputTextarea value="#{manageLaboBean.labo.presentation}" />
			<h:commandButton action="#{manageLaboBean.addLabo()}" value="Ajouter" />
		</h:panelGrid>

	</h:form>
</ui:composition>
