<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html">
	<h:form>
		<h:dataTable value="#{manageEmployeBean.employes}" var="emp">

			<f:facet name="header">Liste des employes</f:facet>

			<h:column>
				<f:facet name="header">Nom</f:facet>
				<h:outputText value="#{emp.nom}"></h:outputText>
			</h:column>
			<h:column>
				<f:facet name="header">Prenom</f:facet>
				<h:outputText value="#{emp.prenom}"></h:outputText>
			</h:column>
			<h:column>
				<f:facet name="header">Modifier</f:facet>
				<h:commandButton value="select">
					<f:setPropertyActionListener value="true"
						target="#{manageEmployeBean.renderAddForm}" />
					<f:setPropertyActionListener value="#{emp}"
						target="#{manageEmployeBean.employeToAdd}"></f:setPropertyActionListener>
					<f:setPropertyActionListener value="true"
						target="#{manageEmployeBean.renderUpdateBtn}"></f:setPropertyActionListener>
				</h:commandButton>
			</h:column>
			<h:column>
				<f:facet name="header">démissionner</f:facet>
				<h:commandButton value="select"
					action="#{manageEmployeBean.removeEmploye(emp)}">
				</h:commandButton>
			</h:column>
		</h:dataTable>


	</h:form>



</ui:composition>