<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	template="/template/template.xhtml">
	<ui:define name="content">
		<h1>
			<h:outputLabel
				value="Vous gérez le labo #{manageEmployeBean.laboBean.labo.nom}" />
		</h1>
		<ui:include src="/admin/addEmploye.xhtml" />
		<ui:include src="/admin/listEmploye.xhtml" />
		<h:form>
			<h:commandButton value="Afficher le formulaire d'ajout">
				<f:setPropertyActionListener value="true"
					target="#{manageEmployeBean.renderAddForm}" />
				<f:setPropertyActionListener value="true"
					target="#{manageEmployeBean.renderAddBtn}"></f:setPropertyActionListener>
			</h:commandButton>
		</h:form>
	</ui:define>
</ui:composition>
