<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html">

<h:head></h:head>
<body>

	<h:form>
		<h:panelGrid columns="2">
			<h:outputLabel value="login" />
			<h:inputText value="#{authentificatinBean.employe.login}" />
			<h:outputLabel value="password" />
			<h:inputSecret value="#{authentificatinBean.employe.password}" />
			<h:commandButton action="#{authentificatinBean.login()}" value="Log-In" />
		</h:panelGrid>

	</h:form>



</body>
</html>
