<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html">

<h:head></h:head>
<body>
	<h:form id="idFormReg">
		<h:panelGrid id="idPanelGridReg" columns="2">
			<h:outputLabel value="Type" />
			<h:selectOneMenu value="#{registrationBean.selectedEmploye}">
				<f:selectItems value="#{registrationBean.typesEmplyes}" var="e">
					<f:selectItem itemLabel="e" itemValue="e" />
				</f:selectItems>
			</h:selectOneMenu>

			<h:outputLabel value="CIN" />
			<h:inputText value="#{registrationBean.employeToCreate.cin}" />
			<h:outputLabel value="Nom" />
			<h:inputText value="#{registrationBean.employeToCreate.nom}" />
			<h:outputLabel value="Prenom" />
			<h:inputText value="#{registrationBean.employeToCreate.prenom}" />
			<h:outputLabel value="Date de naissance" />
			<h:inputText 
 				value="#{registrationBean.employeToCreate.dateNaissance}"> 
 				<f:convertDateTime pattern="yyyy-mm-dd" />  
 			</h:inputText> 

			<h:outputLabel value="Email" />
			<h:inputText id="idmail"
				value="#{registrationBean.employeToCreate.mail}">
 				<f:validateRegex 
 					pattern="^[_A-Za-z0-9-\+]+(\.[_A-Za-z0-9-]+)*@[A-Za-z0-9-]+(\.[A-Za-z0-9]+)*(\.[A-Za-z]{2,})$"></f:validateRegex> 
			</h:inputText>
			<h:message for="idmail" />
			<br />
			<h:outputLabel value="Login" />
			<h:inputText value="#{registrationBean.employeToCreate.login}" />
			<h:outputLabel value="Password" />
			<h:inputSecret value="#{registrationBean.employeToCreate.password}">
				
			</h:inputSecret>

			<h:commandButton action="#{registrationBean.register()}"
				value="Register" />
		</h:panelGrid>
		<h:message for="idFormReg" />
	</h:form>


</body>
</html>
